/* Footer */

.footer__container{
	display: flex;
	flex-direction: column;
	padding: 55px 80px 0  80px;
	position: relative;
	z-index: -3;
	display: block;
	height: 280px
}

.footer__container p{
	font-family: 'Inter';
	font-size: 20px;
}

.footer__txt{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.footer__greatings h4{
	font-family: 'Agrandir Grand';
	font-size: 132px;
	text-transform: uppercase;
	display: inline-block;
	margin:0;
}

.footer__link{
	display: flex;
	flex-direction: column;
}

.footer__link a {
	font-family: 'Inter';
	display: inline-block;
	font-size: 20px;
	text-align: right;
	margin: 0;

}
