.hero {
	height: 100vh;
	max-height: 1200px;
	position: relative;
}
body {
	position: relative;
	z-index: 0;
}

.arrow-down-icon {
	height: 20px;
	width: 20px;
}

.hero,
.hero img {
	user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: 4px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background: #d6d6d6;
	border-radius: 5px;
}

.hero h1 {
	font-size: 182px;
}

.section-block {
	height: 100%;
	width: 100%;
	/* z-index: 30; */
	position: absolute;
}

.section-block-image {
	position: relative;
	height: 100%;
	width: 100%;
}
.z-30 {
	z-index: 30;
}
.z-0 {
	z-index: 0;
}

.hero-title {
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	z-index: 10;
	font-family: "Agrandir Grand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;

	font-weight: lighter;
}

.hero-section-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.section {
	height: 100%;
	width: 100%;
	position: relative;
}

.hero-section-container .blue-block {
	background-color: #012483;
	height: 100%;
	width: 100%;
}
.hero-section-container .orange-block {
	background-color: #d4882b;
	height: 100%;
	width: 100%;
}

.fake-body {
	padding: 10rem;
	background: #000;
	z-index: 20;
	position: absolute;
}

.relative {
	position: relative;
}

.hero-bottom-info {
	padding-bottom: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	color: white;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	font-family: "Agrandir Grand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	max-width: 1280px;
	margin: 0 auto;
}

.year-info {
	display: flex;
	align-items: center;
}

.square-info {
	margin-left: 8px;
	height: 13px;
	width: 13px;
	background-color: white;
	margin-top: -5px;
	line-height: 1;
}

.flex-row-reverse {
	flex-direction: row-reverse;
}

html {
	/* body won't work ¯\_(ツ)_/¯ */
	/* scroll-snap-type: y proximity; */
}

.main {
	z-index: 0;
	height: 100%;
	/* overflow-y: scroll; */
	/* scroll-snap-type: y unset; */
	margin-bottom: 280px;
}

.section-scroll {
	/* scroll-snap-align: start; */
}

@media screen and (max-width: 1000px) {
	#second_section {
		display: none;
	}

	.hero {
		height: 500px;
		max-height: 500px;
		position: relative;
	}
	.hero h1 {
		font-size: 60px;
	}
	#mini-bio {
		display: none;
	}
	.hero-bottom-info {
		justify-content: flex-end;
		padding: 6px 16px;
	}
}
@media screen and (max-width: 700px) {

	.hero h1 {
		font-size: 60px;
	}
}

@media screen and (max-width: 300px) {
	.hero h1 {
		font-size: 42px;
	}

	
	.hero {
		height: 300px;
		max-height: 300px;
		position: relative;
	}
}
