.hero {
	height: 100vh;
	h1 {
		font-size: 182px;
	}
}
.hero-section-container {
	display: flex;
	height: 100%;
	width: 100%;
	.blue-section {
		background-color: #012483;
		height: 100%;
		width: 100%;
	}
	.orange-section {
		background-color: #d4882b;
		height: 100%;
		width: 100%;
	}
}
