.hero {
	height: 100vh;
	position: relative;
}

.hero h1 {
	font-size: 182px;
}

.hero-title {
	position: absolute;
	width: 100%;
  text-align: center;
	color: white;
  z-index: 10;
}

.hero-section-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.section {
  height: 100%;
	width: 100%;
}

.hero-section-container .blue-block {
	background-color: #012483;
	height: 100%;
	width: 100%;
}
.hero-section-container .orange-block {
	background-color: #d4882b;
	height: 100%;
	width: 100%;
}

.fake-body {
  padding: 10rem;
  background: #000;
  z-index: 20;
  position: absolute;
}

.relative {
  position: relative;
}

.hero-bottom-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: white;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

.year-info {
  display: flex;
  align-items: center;
}

.square-info {
  margin-left: 8px;
  height: 13px;
  width: 13px;
  background-color: white;
}
